doctype html
html(ng-app='portfolio', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Kayla Lyn Jones
    link(href='bower_components/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='bower_components/normalize.css/normalize.css', rel='stylesheet')
    link(href='public/index.css', rel='stylesheet')
  body
    .row1
      img(src='public/assets/monogram-sml.png', alt='logo')
      nav
        ul
          li: a(href='#') About
          li: a(href='#') Work
          li: a(href='#') Contact
    .row2
      header
        h1 Hi, I'm Kayla Jones.
        h4 Web Designer + Developer
    .row3
      section.left
        h5 Here are some things I know
        p LESS/SASS
        p CSS3
        p HTML5
        p jQuery
        p MEAN Stack
      section.middle
        h5 Things that interest me
        p User Experience
        p Visual Design
        p Phaser Html5 Games
        p Illustration
      section.right
        h4 Check out my Resume
        i.fa.fa-file-pdf-o.fa-5x
    .row4
      aside.mouth
        h4 Put your money where your mouth is.
    .row5
      ul
        li Node Apps
        li MEAN Apps
        li Mobile Apps
        li Games
    main
      #container(ng-view, ng-cloak)
      <!--each ng view here linked to tabs -->
    .row6
      .game
        aside.break
          h3 Go ahead take a break. You deserve it.
        .gameboard
    .row7
      section
        h3 Enough about me, Tell me about you.
    footer
      .social
          .icon
          .icon
            a.soc-icon(href='#'): i.fa.fa-twitter.fa-5x
          .icon
            a.soc-icon(href='#'): i.fa.fa-github-alt.fa-5x
          .icon
            a.soc-icon(href='#'): i.fa.fa-linkedin.fa-5x
          .icon
          
          
          
      .signature
        i.fa.fa-copyright &nbsp
        small Kayla Lyn Jones
    
