doctype html
html(ng-app='portfolio', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(data='javascript, angularjs, css, sass, less, jade, html, html5, css3, nodejs, frontend, frontend developer, designer')
    title Kayla Lyn Jones
    link(href='bower_components/normalize.css/normalize.css', rel='stylesheet')
    link(href='bower_components/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='vendor/devicons.min.css', rel='stylesheet')
    link(href='public/index.css', rel='stylesheet')
    link(href='public/views/games/games.css', rel='stylesheet')  
    link(href='public/views/mobile/mobile.css', rel='stylesheet') 
    link(href='public/views/mean/mean.css', rel='stylesheet') 
    link(href='public/views/node/node.css', rel='stylesheet')
    link(href='public/views/featured/featured.css', rel='stylesheet')
    link(href='public/views/hack/hack.css', rel='stylesheet')
    link(href='public/components/accordion/accordion.css', rel='stylesheet')


  body
    .row1.large
      img(src='public/assets/monogram-sml.png', alt='logo')
      nav.nav.hide-desktop(id='about')
        ul.nav-list
          li.nav-item: a(data-scroll, href='#about') About
          li.nav-item: a(data-scroll, href='#work') Work
          li.nav-item: a(data-scroll, href='#contact') Contact
          li.nav-item: a(href='public/assets/kayla_jones_resume.pdf', target='_blank') Resume
    .row2
      header
        h1 Hi, I'm Kayla Jones.
        h4 Web Designer + Developer
    .about
      h4 I create beautiful digital experiences that merge functionality and design.
    .row3
      section.left
        .skills
          h3 Skills
          .list
            p Html/Jade 
            p SASS/LESS 
            p CSS3 
            p jQuery
            p Javascript
            p AngularJS
          .val
            progress(value="95" max="100")
            progress(value="90" max="100")
            progress(value="75" max="100")
            progress(value="70" max="100")
            progress(value="80" max="100")
            progress(value="75" max="100")
          .padding
      section.middle
        .top-half
          h3 Toolbox
          img(src='public/assets/toolbox_notitle.png')
        .bottom-half
          span.devicons.devicons-npm
          span.devicons.devicons-github_alt
          span.devicons.devicons-grunt
          span.devicons.devicons-gulp
          span.devicons.devicons-bower
          span.devicons.devicons-trello
        
      section.right
        .interests
          h3 Interests
          .list
            p UX
            p UI Design
            p Responsive Design
            p Illustration
            p IA
            p Making Awesome Websites
          .val
            progress(value="90" max="100")
            progress(value="80" max="100")
            progress(value="70" max="100")
            progress(value="85" max="100")
            progress(value="60" max="100")
            progress(value="100" max="100")
          //.padding

    .row4
      aside
        .icons-skill
          span.devicons.devicons-html5
        .icons-skill
          span.devicons.devicons-css3
        .icons-skill
          span.devicons.devicons-sass
        .icons-skill
          span.devicons.devicons-less
        .icons-skill
          span.devicons.devicons-javascript
        .icons-skill
          span.devicons.devicons-nodejs
        .icons-skill
          span.devicons.devicons-angular
        .icons-skill
          span.devicons.devicons-mongodb
    .row5(id='work')
      .small-screen
        hr
        h3 Portfolio 
        p For more info on these projects, view this page on a larger screen.
        accordion(heading='Mean Apps')
          h6 EnlighTN &nbsp;
            a(href='https://github.com/kaylalynjones/enlighTN', target="_blank"): i.fa.fa-github-alt.fa-2x
          p Explore Nashville like never before!
          section
            img(src='public/assets/enlighTN.png', alt='enlightn')
          hr
          h6 Abode &nbsp;
            a(href='https://github.com/kaylalynjones/abode', target="_blank"): i.fa.fa-github-alt.fa-2x
          p Manage your maintenance and renovation goals.
          section
            img(src='public/assets/abode.png', alt='abode')
          //hr
          //h6 NashvesTN
          //p Connect with others and invest in their future.
          //section
            img(src='public/assets/nashvestn-desk.png', alt='nashvestn')
        
        accordion(heading='Node Apps')
          h6 World Traveler &nbsp;
            a(href='https://github.com/kaylalynjones/world-traveler', target="_blank"): i.fa.fa-github-alt.fa-2x
          p Keep track of your world travels!
          section
            img(src='public/assets/world-traveler.png', alt='world traveler')
          hr
          h6 Hipsterbay &nbsp;
            a(href='https://github.com/kaylalynjones/hipsterbay', target="_blank"): i.fa.fa-github-alt.fa-2x
          p Barter for the next hot thing!  
          section
            img(src='public/assets/hipsterbay.png', alt='hipsterbay')     
           
          
        //accordion(heading='Mobile Apps')
          
        accordion(heading='Phaser Games')
          h6 Equalizer &nbsp;
            a(href='https://github.com/kaylalynjones/equalizer', target="_blank"): i.fa.fa-github-alt.fa-2x
          p Demolish inequalities and collect your reward!
          
          
          section
            img(src='public/assets/equalizer.png', alt='equalizer')
          //hr
          //h6 Journey of Oscar Diggs
          //p Help Oscar Diggs find his ballon ride to Oz!
            section
              img(src='public/assets/oz.png', alt='oz')
          hr
          h6 Mr. Whaleface &nbsp;
            a(href='https://github.com/kaylalynjones/mr-whaleface', target="_blank"): i.fa.fa-github-alt.fa-2x
          p Help Mr. Whaleface navigate the dangerous sea!
            section
              img(src='public/assets/mr-whaleface.png', alt='mr-whaleface')
                        
              
      ul.large-screen
        li.active: a(href='#'): i.fa.fa-crosshairs
        li: a(href='#/featured') Featured
        li: a(href='#/hack') HackNashville6
        li: a(href='#/node') NodeJS Apps
        li: a(href='#/mean') Angular Apps
        li: a(href='#/games') Phaser Games
        //li: a(href='#/mobile') Mobile Apps
    main
      #container(ng-view, ng-cloak)
    .row7
      section(id='contact')
        h4 Let's talk.
        a.needsclick(href='mailto:kaylalyne424@gmail.com'): i.fa.fa-envelope-o.fa-3x
    footer
      .social
          .icon
            a.needsclick(href='https://github.com/kaylalynjones'): i.fa.fa-github-alt.fa-5x    
          .icon
            a.needsclick(href='https://twitter.com/grandtraipse'): i.fa.fa-twitter.fa-5x
          .icon
            a.needsclick(href='https://medium.com/@grandtraipse'): i.fa.fa-bullhorn.fa-5x
          .icon
            a.needsclick(href='https://www.linkedin.com/profile/view?id=354920624&trk=nav_responsive_tab_profile_pic'): i.fa.fa-linkedin.fa-5x
          
          
          
      .signature
        i.fa.fa-copyright &nbsp
        small Kayla Lyn Jones
        
    script(type='application/javascript', src='bower_components/fastclick/lib/fastclick.js')  
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/smooth-scroll/dist/js/smooth-scroll.min.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/angular-route/angular-route.min.js')
    script(src='public/index.js')
    script(src='public/nav.js')
    script(src='public/views/games/games.js')
    script(src='public/views/node/node.js')
    script(src='public/views/mean/mean.js')
    script(src='public/views/mobile/mobile.js')
    script(src='public/views/hack/hack.js')
    script(src='public/views/featured/featured.js')
    script(src='public/components/accordion/accordion.js')
