doctype html
html(ng-app='portfolio', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(data='javascript, angularjs, css, sass, less, jade, html, html5, css3, nodejs, frontend, frontend developer, designer')
    title Kayla Lyn Jones
    link(href='bower_components/normalize.css/normalize.css', rel='stylesheet')
    link(href='bower_components/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='vendor/devicons.min.css', rel='stylesheet')
    link(href='public/index.css', rel='stylesheet')
    link(href='public/views/games/games.css', rel='stylesheet')  
    link(href='public/views/mobile/mobile.css', rel='stylesheet') 
    link(href='public/views/mean/mean.css', rel='stylesheet') 
    link(href='public/views/node/node.css', rel='stylesheet')
    link(href='public/views/featured/featured.css', rel='stylesheet')
    link(href='public/views/hack/hack.css', rel='stylesheet')
    link(href='public/components/accordion/accordion.css', rel='stylesheet')


  body
    .row1.large
      a(href='/#/'): img(src='public/assets/monogram-sml.png', alt='logo')
      nav.nav.hide-desktop(id='about')
        ul.nav-list
          li.nav-item: a(data-scroll, href='#about') About
          li.nav-item: a(data-scroll, href='#work') Work
          li.nav-item: a(data-scroll, href='#contact') Contact
          li.nav-item: a(href='public/assets/kayla_jones_resume.pdf', target='_blank') Resume
    .row#container
      div(ui-view="home")

        
    script(type='application/javascript', src='bower_components/fastclick/lib/fastclick.js')  
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/smooth-scroll/dist/js/smooth-scroll.min.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    //script(src='bower_components/angular-route/angular-route.min.js')
    script(src='public/index.js')
    script(src='public/nav.js')
    script(src='public/views/home/home.js')
    script(src='public/views/project/project.js')
    script(src='public/views/work/work.js')
    script(src='public/views/games/games.js')
    script(src='public/views/node/node.js')
    script(src='public/views/mean/mean.js')
    script(src='public/views/mobile/mobile.js')
    script(src='public/views/hack/hack.js')
    script(src='public/views/featured/featured.js')
    script(src='public/components/accordion/accordion.js')
