@import url(http://fonts.googleapis.com/css?family=Raleway:700,400,300);

//variables
@lightfont: 300;
@normfont: 400;
@heavyfont: 700;
@teal: #00A99D;
@dkteal: #007C72;
@red: #a82d32;
@medred: #842128;
@dkred: #4F151B;
@brown: #311514;
@white: #ffffff;
@offwhite: #f2f2f2;
@grey: #e6e6e6;
@black: #1b1b1b;
@tan: #A38D7A;

//general-----------------------------
* {
box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
  background-color: @white;
  color: @black;
  background-image: url('assets/triangles.png');
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  h2, h3 {
    font-weight: @lightfont
  }
  h4, h5 {
    font-weight:  @lightfont;
  }
  h1 {
    font-size: 3.5em;
    font-weight: @heavyfont;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.75em;
  }
  h5 {
    font-size: 1.5em;
  }
}
//link effects-------------------------------
a {
  color: @medred;
}
a:hover {
  color: @teal;
  //border-bottom: 2px solid @teal;
}
a:focus {
  color: @teal;
  //border-bottom: 2px solid @teal;
}
a:visited {
  color: @medred;
}



//landing page-------------------------------
.row1 {
  width: 100%;
  margin: 0;
  padding: 20px;
  position: fixed;
  overflow: visible;
  background-color: @white;
  top: 0;
  border-bottom: 2px solid @grey;

  img {
    position: relative;
    margin-left: 5px;
    float: left;
  }
  nav {
    width: 90%;
    display: block;
    float: right;
    padding: 0 20px;

    li {
      float: right;
      padding: 15px;
      border-left: 3px solid rgba(132, 33, 40, 0.85);
      font-size: 18px;

      li a {
        padding: 10px;
        margin: 5px;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
  nav.smaller {
    width: 90%;
    display: block;
    float: right;
    padding: 0 20px;

    li {
      float: right;
      padding: 15px;
      border-left: 3px solid rgba(132, 33, 40, 0.85);
      font-size: 18px;

      li a {
        padding: 10px;
        margin: 5px;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
.row2 {
  margin-top: 100px;
  height: 400px;
  color: @white;

  header {
    width: 100%;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.33);

    h1 {
      margin-bottom: 0;
      font-weight: @lightfont;
    }
    h4 {
      margin-top: 0;
      font-weight: @lightfont;
      letter-spacing: 1px;
    }
  }
}
.row3 {

  color:@offwhite;
  overflow: hidden;
  height: 400px;

  #chartdiv {
    width: 100%;
    height: 400px;
    z-index: -1;
  }
  section {
    width: 33.3333%;
    float: left;
    padding: 40px;
    height: 400px;
    text-align: center;

    img {
      width: 260px;
      height: 300px;
    }
  }
  .left{
    background-color: @medred;
  }
  .middle{
    background-color: @dkred;
    .top-half {
      height: 200px;
      color: @red;

      img{
        width: 345px;
        height: 200px;
      }

    }
    .bottom-half{
      height: 200px;
      padding-top: 40px;
      span {
        font-size: 45px;
        color: @red;
        display: inline-block;
        width: 100%/6;
      }
      h4 {
        font-size: 25px;

      }
    }
  }
  .right{
    background-color: @medred
  }
}
.row4 {
  background-color: @grey;
  text-align: center;
  margin: 0;

  .icons-skill {
    width: 100%/8;
    color: @red;
    display: inline-block;
    padding: 10px;
    font-size: 40px;
  }
}

.row5 {
  background-color: @offwhite;
  width: 100%;

  ul {
    display: block;
    padding: 0 20px;
    margin: 0;

    li {
      padding: 15px;
      font-size: 18px;
      display: inline-block;
      font-size: 26px;
      width: 100%/4;
    }
  }
}

main {
  background: @dkteal url('assets/projects.png') no-repeat center;
  display: block;
  margin: 0 auto;
  height: 620px;

  #container {
    background-color: @white;
  }
}
.row6 {
  height: 600px;

  .game {
    background-color: @brown;
    color: @tan;
    text-align: center;

    h3 {
      margin: 0;
      padding: 15px;
    }
  }
  .gameboard {
    width: 60%;
    height: 800px;
    border: 3px solid @brown;
    margin: 0 auto;
    background-color: black;

  }
}
.row7 {
  background-color: @medred;
  color: @brown;
  text-align: center;
  margin: 0;
  height: 150px;

  h4 {
    padding:20px;
    margin: 0;
  }
  a {
    color: @dkred;
  }
}
footer {
  width: 100%;

  .social{
    height: 200px;
    background-color: @dkred;

    .icon {
      color: @medred;
      width:100%/5;
      display: inline-block;
      text-align: center;
      margin-top: 50px;
    }
  }
  .signature{
    background-color: @brown;
    text-align: center;
    padding:20px;
    color: @tan;
  }
}
