doctype html
html(ng-app='portfolio', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Kayla Lyn Jones
    link(href='bower_components/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='bower_components/normalize.css/normalize.css', rel='stylesheet')
    link(href='public/index.css', rel='stylesheet')
    link(href='public/views/games/games.css', rel='stylesheet')  
    link(href='public/views/mobile/mobile.css', rel='stylesheet') 
    link(href='public/views/mean/mean.css', rel='stylesheet') 
    link(href='public/views/node/node.css', rel='stylesheet') 
    
  body
    .row1
      img(src='public/assets/monogram-sml.png', alt='logo')
      nav.nav-collapse(id='about')
        ul
          li: a(data-scroll href='#about') About
          li: a(data-scroll href='#work') Work
          li: a(data-scroll href='#contact') Contact
    .row2
      header
        h1 Hi, I'm Kayla Jones.
        h4 Web Designer + Developer
    .row3
      section.left
        h4 Skills
        p LESS/SASS
        p CSS3
        p HTML5
        p jQuery
        p MEAN Stack
      section.middle
        h4 Interests
        p User Experience
        p Visual Design
        p Phaser Html5 Games
        p Illustration
      section.right
        h4 Check out my Resume
        i.fa.fa-file-pdf-o.fa-5x
    .row4
      aside(id='work')
        .icons-skill
          i.fa.fa-2x.fa-css3
        .icons-skill
          i.fa.fa-2x.fa-html5
        .icons-skill
          i.fa.fa-2x.fa-git
        .icons-skill
          i.fa.fa-2x.fa-android
        .icons-skill
          i.fa.fa-2x.fa-apple
        .icons-skill
          i.fa.fa-2x.fa-linux
        .icons-skill
          i.fa.fa-2x.fa-windows
    .row5
      ul
        li: a(href='#/games') Games
        li: a(href='#/mean') MEAN Apps
        li: a(href='#/node') Node Apps
        li: a(href='#/mobile') Mobile Apps
        
    main
      #container(ng-view, ng-cloak)
    <!--.row6.gameaside.breakh3 Go ahead take a break. You deserve it..gameboard#gameboard -->
    .row7
      section(id='contact')
        h4 Enough about me, let's talk.
        a.needsclick(href='#'): i.fa.fa-envelope-o.fa-3x
    footer
      .social
          .icon
          .icon
            a.needsclick(href='https://twitter.com/grandtraipse', target="_blank"): i.fa.fa-twitter.fa-5x
          .icon
            a.needsclick(href='https://github.com/kaylalynjones', target="_blank"): i.fa.fa-github-alt.fa-5x
          .icon
            a.needsclick(href='https://www.linkedin.com/profile/view?id=354920624&trk=nav_responsive_tab_profile_pic', target="_blank"): i.fa.fa-linkedin.fa-5x
          .icon
          
          
          
      .signature
        i.fa.fa-copyright &nbsp
        small Kayla Lyn Jones
        
    script(type='application/javascript', src='bower_components/fastclick/lib/fastclick.js')  
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/smooth-scroll/dist/js/smooth-scroll.min.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/angular-route/angular-route.min.js')
    //script(src='vendor/responsive-nav.js')
    //script(src='vendor/fixed-responsive-nav.js')
    script(src='public/index.js')
    script(src='public/views/games/games.js')
    script(src='public/views/node/node.js')
    script(src='public/views/mean/mean.js')
    script(src='public/views/mobile/mobile.js')

      
