.clearfix
.mobile1
  h4 Title
  section
    a(href='#'): img(src='', alt='')
    p description
    p.tag tech
    p.tag tech
    .buttons
      a(href='#'): i.fa.fa-github-alt.fa-2x
      a(href='#'): i.fa.fa-external-link-square.fa-2x
.mobile2
  h4 Title
  section
    a(href='#'): img(src='', alt='')
    p description
    p.tag tech
    p.tag tech
    .buttons
      a(href='#'): i.fa.fa-github-alt.fa-2x
      a(href='#'): i.fa.fa-external-link-square.fa-2x
.mobile3
  h4 Title
  section
    a(href='#'): img(src='', alt='')
    p description
    p.tag tech
    p.tag tech
    .buttons
      a(href='#'): i.fa.fa-github-alt.fa-2x
      a(href='#'): i.fa.fa-external-link-square.fa-2x
.clearfix
