.clearfix
.mobile1
  h4 NashvesTN
  section
    a(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpnashvestn202992', target="_blank"): img(src='public/assets/nashvestn-mobile.png', alt='nashvestn')
    p Connect with others and invest in their future.
    p.tag Ionic
    p.tag Cordova
    .buttons
      a(href='https://github.com/kaylalynjones/nashvesTN-mobile', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpnashvestn202992', target="_blank"): i.fa.fa-external-link-square.fa-2x
.mobile2
  h4 Title
  section
    a(href='#', target="_blank"): img(src='', alt='')
    p description
    p.tag tech
    p.tag tech
    .buttons
      a(href='#', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='#', target="_blank"): i.fa.fa-external-link-square.fa-2x
.mobile3
  h4 Title
  section
    a(href='#', target="_blank"): img(src='', alt='')
    p description
    p.tag tech
    p.tag tech
    .buttons
      a(href='#', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='#', target="_blank"): i.fa.fa-external-link-square.fa-2x
.clearfix
