.clearfix
.feature1
  h5 Abode
  section
    a(href='https://abode-kaylalynjones.herokuapp.com/#/dashboard', target="_blank"): img.desaturate(src='public/assets/abode.png', alt='abode')
    p Manage your maintenance and renovation goals.
    p.tag MEAN Stack
    p.tag Socket.IO
    .buttons
      a(href='https://github.com/kaylalynjones/abode', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='https://abode-kaylalynjones.herokuapp.com/#/dashboard', target="_blank"): i.fa.fa-external-link-square.fa-2x
.feature2
  h4 Final Capstone
  h5 Coming Soon! 
  h5 January 8th, 2015
.clearfix
