.clearfix {
  clear: both;
}
.game1,
.game2,
.game3 {
  width: 100%;
  margin: 0;
  padding: 30px;
  float: left;
  overflow: hidden;
  width: 33.33333333%;
  text-align: center;
  background-color: rgba(242, 242, 242, 0.41);
  border-left: 1px solid #e2e2e2;
  height: 620px;
}
.game1 .tag,
.game2 .tag,
.game3 .tag {
  font-size: 16px;
  display: inline;
  margin: 5px;
  color: #A38D7A;
}
.game1 .buttons,
.game2 .buttons,
.game3 .buttons {
  padding: 5px;
}
.game1 .buttons a,
.game2 .buttons a,
.game3 .buttons a {
  margin: 10px;
  width: 50%;
  text-align: center;
}
