.clearfix
.mean1
  h4 EnlighTN
  section
    a(href='http://enlightn.kaylalynjones.ninja/', target="_blank"): img.desaturate(src='public/assets/enlighTN.png', alt='enlightn')
    p Explore Nashville like never before!
    p.tag MEAN Stack
    p.tag Socket.IO
    .buttons
      a(href='https://github.com/kaylalynjones/enlighTN', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='http://enlightn.kaylalynjones.ninja/', target="_blank"): i.fa.fa-external-link-square.fa-2x
.mean2
  h4 Abode
  section
    a(href='#', target="_blank"): img.desaturate(src='public/assets/abode.png', alt='abode')
    p Manage your maintenance and renovation goals.
    p.tag MEAN Stack
    p.tag Socket.IO
    .buttons
      a(href='https://github.com/kaylalynjones/abode', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='#', target="_blank"): i.fa.fa-external-link-square.fa-2x
.mean3
  h4 NashvesTN
  section
    a(href='http://nashvestn.herokuapp.com/', target="_blank"): img.desaturate(src='public/assets/nashvestn-desk.png', alt='nashvestn')
    p Connect with others and invest in their future.
    p.tag MEAN Stack
    .buttons
      a(href='https://github.com/kaylalynjones/nashvestn-server', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='http://nashvestn.herokuapp.com/', target="_blank"): i.fa.fa-external-link-square.fa-2x
.clearfix
