.clearfix
.node1
  h4 World Traveler
  section
    a(href='http://world-traveler.kaylalynjones.ninja/', target="_blank"): img(src='public/assets/world-traveler.png', alt='world traveler')
    p Keep track of your world travels!
    p.tag NodeJS
    p.tag MongoDB
    .buttons
      a(href='https://github.com/kaylalynjones/world-traveler', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='http://world-traveler.kaylalynjones.ninja/', target="_blank"): i.fa.fa-external-link-square.fa-2x
.node2
  h4 Hipsterbay
  section
    a(href='http://hipsterbay.kaylalynjones.ninja/', target="_blank"): img(src='public/assets/hipsterbay.png', alt='hipsterbay')
    p Barter for the next hot thing!
    p.tag NodeJS
    p.tag MongoDB
    .buttons
      a(href='https://github.com/kaylalynjones/hipsterbay', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='http://hipsterbay.kaylalynjones.ninja/', target="_blank"): i.fa.fa-external-link-square.fa-2x
.node3
  h4 Unmarked White Van
  section
    a(href='http://whitevan.kaylalynjones.ninja/', target="_blank"): img(src='public/assets/whitevan.png', alt='whitevan')
    p description
    p.tag NodeJS
    p.tag MongoDB
    .buttons
      a(href='https://github.com/kaylalynjones/white-van', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='http://whitevan.kaylalynjones.ninja/', target="_blank"): i.fa.fa-external-link-square.fa-2x
.clearfix
