.clearfix
.node1
  h4 Title
  section
    a(href='#', target="_blank"): img(src='', alt='')
    p description
    p.tag tech
    p.tag tech
    .buttons
      a(href='#', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='#', target="_blank"): i.fa.fa-external-link-square.fa-2x
.node2
  h4 Title
  section
    a(href='#', target="_blank"): img(src='', alt='')
    p description
    p.tag tech
    p.tag tech
    .buttons
      a(href='#', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='#', target="_blank"): i.fa.fa-external-link-square.fa-2x
.node3
  h4 Title
  section
    a(href='#', target="_blank"): img(src='', alt='')
    p description
    p.tag tech
    p.tag tech
    .buttons
      a(href='#', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='#', target="_blank"): i.fa.fa-external-link-square.fa-2x
.clearfix
