@import url(http://fonts.googleapis.com/css?family=Raleway:700,400,300);
* {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #1b1b1b;
  background-image: url('assets/Triangles.png');
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
}
body h2,
body h3 {
  font-weight: 300;
}
body h4,
body h5 {
  font-weight: 300;
}
body h1 {
  font-size: 3.5em;
  font-weight: 700;
}
body h2 {
  font-size: 3em;
}
body h3 {
  font-size: 2em;
}
body h4 {
  font-size: 1.75em;
}
body h5 {
  font-size: 1.5em;
}
a {
  color: #842128;
}
a:hover {
  color: #00a99d;
}
a:focus {
  color: #00a99d;
}
a:visited {
  color: #842128;
}
.row1 {
  width: 100%;
  margin: 0;
  padding: 20px;
  position: fixed;
  overflow: visible;
  background-color: #ffffff;
  top: 0;
  border-bottom: 2px solid #e6e6e6;
}
.row1 img {
  position: relative;
  margin-left: 5px;
  float: left;
}
.row1 nav {
  width: 90%;
  display: block;
  float: right;
  padding: 0 20px;
}
.row1 nav li {
  float: right;
  padding: 15px;
  border-left: 3px solid rgba(132, 33, 40, 0.85);
  font-size: 18px;
}
.row1 nav li li a {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.row1 nav.smaller {
  width: 90%;
  display: block;
  float: right;
  padding: 0 20px;
}
.row1 nav.smaller li {
  float: right;
  padding: 15px;
  border-left: 3px solid rgba(132, 33, 40, 0.85);
  font-size: 18px;
}
.row1 nav.smaller li li a {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.row2 {
  margin-top: 100px;
  height: 400px;
  color: #ffffff;
}
.row2 header {
  width: 100%;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.33);
}
.row2 header h1 {
  margin-bottom: 0;
  font-weight: 300;
}
.row2 header h4 {
  margin-top: 0;
  font-weight: 300;
  letter-spacing: 1px;
}
.row3 {
  color: #f2f2f2;
  overflow: hidden;
  height: 400px;
}
.row3 #chartdiv {
  width: 100%;
  height: 400px;
  z-index: -1;
}
.row3 section {
  width: 33.3333%;
  float: left;
  padding: 40px;
  height: 400px;
  text-align: center;
}
.row3 .left {
  background-color: #842128;
}
.row3 .middle {
  background-color: #4f151b;
}
.row3 .right {
  background-color: #a82d32;
}
.row4 {
  background-color: #e6e6e6;
  text-align: center;
  margin: 0;
}
.row4 .icons-skill {
  width: 14.28571429%;
  color: #a82d32;
  display: inline-block;
  padding: 10px;
}
.row5 {
  background-color: #f2f2f2;
  width: 100%;
}
.row5 ul {
  display: block;
  padding: 0 20px;
  margin: 0;
}
.row5 ul li {
  padding: 15px;
  font-size: 18px;
  display: inline-block;
  font-size: 26px;
  width: 25%;
}
main {
  background: #007c72 url('assets/projects.png') no-repeat center;
  display: block;
  margin: 0 auto;
  height: 620px;
}
main #container {
  background-color: #ffffff;
}
.row6 {
  height: 600px;
}
.row6 .game {
  background-color: #311514;
  color: #a38d7a;
  text-align: center;
}
.row6 .game h3 {
  margin: 0;
  padding: 15px;
}
.row6 .gameboard {
  width: 60%;
  height: 800px;
  border: 3px solid #311514;
  margin: 0 auto;
  background-color: black;
}
.row7 {
  background-color: #842128;
  color: #311514;
  text-align: center;
  margin: 0;
  height: 150px;
}
.row7 h4 {
  padding: 20px;
  margin: 0;
}
.row7 a {
  color: #4f151b;
}
footer {
  width: 100%;
}
footer .social {
  height: 200px;
  background-color: #4f151b;
}
footer .social .icon {
  color: #842128;
  width: 20%;
  display: inline-block;
  text-align: center;
  margin-top: 50px;
}
footer .signature {
  background-color: #311514;
  text-align: center;
  padding: 20px;
  color: #a38d7a;
}
