@import url(http://fonts.googleapis.com/css?family=Raleway:700,400,300);
* {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #1b1b1b;
  background-image: url('assets/triangles.png');
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
}
body h2,
body h3 {
  font-weight: 300;
}
body h4,
body h5 {
  font-weight: 300;
}
body h1 {
  font-size: 3.5em;
  font-weight: 700;
}
body h2 {
  font-size: 3em;
}
body h3 {
  font-size: 2em;
}
body h4 {
  font-size: 1.75em;
}
body h5 {
  font-size: 1.5em;
}
body img.desaturate {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
body img.desaturate:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
}
a {
  color: #842128;
}
a:hover {
  color: #00a99d !important;
}
a:focus {
  color: #00a99d;
}
a:active {
  color: #00a99d;
}
a:visited {
  color: #842128;
}
#contact a:hover,
footer a:hover {
  color: #a38d7a !important;
}
#contact a:focus,
footer a:focus {
  color: #a38d7a;
}
progress {
  margin: 0 0 15px 0;
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 10px;
  color: #00a99d !important;
  width: 100%;
}
progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: #00a99d !important;
  border-radius: 10px;
}
progress::-moz-progress-bar {
  margin-left: 10px;
  background: #00a99d;
}
@media (min-width: 769px) {
  .row1.large {
    width: 100%;
    margin: 0;
    padding: 20px;
    position: fixed;
    overflow: visible;
    background-color: #ffffff;
    top: 0;
    border-bottom: 2px solid #e6e6e6;
    z-index: 1000;
  }
  .row1.large img {
    position: relative;
    margin-left: 10px;
    float: left;
    top: 10px;
  }
  .row1.large nav {
    width: 90%;
    display: block;
    float: right;
    padding: 0 20px;
  }
  .row1.large nav li {
    float: right;
    padding: 15px;
    border-left: 3px solid rgba(132, 33, 40, 0.85);
    font-size: 18px;
  }
  .row1.large nav li li a {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  .row1,
  nav,
  a,
  img,
  li {
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari and Chrome */
    -o-transition: all 1s;
    /* Opera */
  }
  .row1 nav .nav-list {
    display: block !important;
  }
  .row1.small {
    width: 100%;
    margin-top: -10px;
    padding: 0px;
    position: fixed;
    overflow: visible;
    background-color: #ffffff;
    top: 0;
    border-bottom: 2px solid #e6e6e6;
    z-index: 1000;
  }
  .row1.small img {
    position: relative;
    margin-left: 10px;
    float: left;
    top: 15px;
  }
  .row1.small nav {
    width: 90%;
    display: block;
    float: right;
    padding: 0 20px;
  }
  .row1.small nav li {
    float: right;
    padding: 13px 20px;
    border-left: 3px solid rgba(132, 33, 40, 0.85);
    font-size: 18px;
    margin-bottom: 5px;
  }
  .row1.small nav li li a {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  .row2 {
    margin-top: 100px;
    height: 400px;
    color: #ffffff;
  }
  .row2 header {
    width: 100%;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.33);
  }
  .row2 header h1 {
    margin-bottom: 0;
    font-weight: 300;
  }
  .row2 header h4 {
    margin-top: 0;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .about {
    display: none;
  }
  .row3 {
    color: #f2f2f2;
    overflow: hidden;
    height: 400px;
  }
  .row3 section {
    width: 33.33333333%;
    float: left;
    padding: 30px 10px 0;
    height: 400px;
    text-align: center;
  }
  .row3 .left {
    background-color: #842128;
  }
  .row3 .left .skills .list,
  .row3 .left .skills .val,
  .row3 .left .skills .padding {
    width: 33.33333333%;
  }
  .row3 .left .skills .list,
  .row3 .left .skills .val {
    float: left;
    margin-left: 10px;
  }
  .row3 .left .skills .padding {
    float: right;
  }
  .row3 .left .skills p {
    text-align: right;
    margin: 0 0 18px 0;
  }
  .row3 .middle {
    background-color: #4f151b;
  }
  .row3 .middle .top-half {
    height: 200px;
    color: #a82d32;
  }
  .row3 .middle .top-half h3 {
    color: #D3D3D3;
  }
  .row3 .middle .top-half img {
    max-width: 345px;
    width: 100%;
    height: 100px;
  }
  .row3 .middle .bottom-half {
    height: 200px;
    padding-top: 40px;
  }
  .row3 .middle .bottom-half span {
    font-size: 45px;
    color: #a82d32;
    display: inline-block;
    width: 16.66666667%;
  }
  .row3 .middle .bottom-half h4 {
    font-size: 25px;
  }
  .row3 .right {
    background-color: #842128;
  }
  .row3 .right .interests .list,
  .row3 .right .interests .val,
  .row3 .right .interests .padding {
    width: 33.33333333%;
  }
  .row3 .right .interests .list,
  .row3 .right .interests .val {
    float: left;
    margin-left: 10px;
  }
  .row3 .right .interests .padding {
    float: right;
  }
  .row3 .right .interests p {
    text-align: right;
    margin: 0 0 18px 0;
  }
  .row4 {
    background-color: #e6e6e6;
    text-align: center;
    margin: 0;
  }
  .row4 .icons-skill {
    width: 12.5%;
    color: #a82d32;
    display: inline-block;
    padding: 10px;
    font-size: 40px;
  }
  .row5 {
    background-color: #f2f2f2;
    width: 100%;
    margin-top: 150px;
  }
  .row5 ul {
    display: block;
    padding: 0 20px 5px;
    margin: 0;
    text-align: center;
  }
  .row5 ul li:first-child {
    width: 50px;
    color: #842128;
    background-color: #f2f2f2;
  }
  .row5 ul li {
    padding: 15px;
    display: inline-block;
    font-size: 22px;
    border-top: 5px solid #f2f2f2;
  }
  .row5 ul li:hover,
  .row5 ul li.active {
    border-top: 5px solid #007c72;
    background-color: #ffffff;
  }
  .row5 ul li:active {
    border-top: 5px solid #007c72;
    background-color: #ffffff;
  }
  .row5 .small-screen {
    display: none;
  }
  main {
    background: #007c72 url('assets/projects.png') no-repeat center;
    display: block;
    margin: 0 auto;
    height: 620px;
  }
  main #container {
    background-color: #ffffff;
  }
  main #container h5 {
    font-weight: 700;
    color: #842128;
  }
  main #container img {
    max-width: 300px;
    width: 100%;
    border: 2px solid #DFDEDE;
  }
  .row6 {
    height: 600px;
  }
  .row6 .game {
    background-color: #311514;
    color: #a38d7a;
    text-align: center;
  }
  .row6 .game h3 {
    margin: 0;
    padding: 15px;
  }
  .row7 {
    background-color: #842128;
    color: #311514;
    text-align: center;
    margin: 0;
    height: 150px;
  }
  .row7 h4 {
    padding: 20px;
    margin: 0;
    font-weight: bolder;
    color: #311514;
  }
  .row7 a {
    color: #311514;
  }
  footer {
    width: 100%;
  }
  footer .social {
    height: 200px;
    background-color: #4f151b;
  }
  footer .social .icon {
    color: #842128;
    width: 25%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
  }
  footer .signature {
    background-color: #311514;
    text-align: center;
    padding: 20px;
    color: #a38d7a;
  }
  .nav-mobile {
    height: 40px;
    width: 40px;
    float: right;
    background-image: url('assets/menu.png');
    background-size: contain;
    display: none;
    margin: 0 10px;
  }
}
.games {
  max-width: 100%;
  width: 100%;
}
@media (max-width: 960px) {
  .row5 ul li {
    font-size: 16px;
  }
  main #container h5 {
    font-size: 1em;
  }
  main #container .hack2 {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .nav-list {
    display: none;
    margin: 0;
  }
  .nav-mobile {
    height: 40px;
    width: 40px;
    float: right;
    display: inline;
    background-image: url('assets/menu.png');
    background-size: contain;
    margin: 0 10px;
    position: relative;
    bottom: 50px;
    cursor: pointer;
  }
  .row1 {
    width: 100%;
    padding-top: 10px;
    padding: 0px;
    position: fixed;
    overflow: visible;
    background-color: #ffffff;
    top: 0;
    border-bottom: 2px solid #e6e6e6;
    z-index: 1000;
  }
  .row1 img {
    position: relative;
    top: 10px;
  }
  .row1 nav {
    display: block;
    width: 100%;
    clear: both;
    padding: 0;
  }
  .row1 nav .nav-list li {
    float: none;
    padding: 0;
    border: none;
    font-size: 18px;
    padding: 20px;
    margin-right: 40px;
  }
  .row1 nav .nav-list li li a {
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  body {
    background-image: none;
    background-attachment: initial;
    background-size: initial;
    background-color: #e6e6e6;
    color: #311514;
  }
  header {
    padding-top: 125px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.33);
    background-color: #842128;
  }
  header h1 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 0;
    color: #ffffff;
  }
  header h4 {
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
  }
  .about {
    display: block;
  }
  .about h4 {
    margin: 0;
    padding: 40px 20px;
    background-color: #311514;
    color: #a38d7a;
    text-align: center;
  }
  .row3 .left,
  .row3 .right {
    text-align: left;
    margin: 20px;
    overflow: auto;
  }
  .row3 .left img,
  .row3 .right img {
    display: none;
  }
  .row3 .left .skills,
  .row3 .right .skills,
  .row3 .left .interests,
  .row3 .right .interests {
    display: block;
    overflow: visible;
  }
  .row3 .left .skills h3,
  .row3 .right .skills h3,
  .row3 .left .interests h3,
  .row3 .right .interests h3 {
    text-align: center;
  }
  .row3 .left .skills .list,
  .row3 .right .skills .list,
  .row3 .left .interests .list,
  .row3 .right .interests .list,
  .row3 .left .skills .val,
  .row3 .right .skills .val,
  .row3 .left .interests .val,
  .row3 .right .interests .val {
    float: left;
  }
  .row3 .left .skills .list,
  .row3 .right .skills .list,
  .row3 .left .interests .list,
  .row3 .right .interests .list {
    width: 33.3333%;
  }
  .row3 .left .skills .list p,
  .row3 .right .skills .list p,
  .row3 .left .interests .list p,
  .row3 .right .interests .list p {
    margin: 0 0 18px 0;
    text-align: right;
    padding-right: 15px;
  }
  .row3 .left .skills .val,
  .row3 .right .skills .val,
  .row3 .left .interests .val,
  .row3 .right .interests .val {
    width: 66.66666%;
  }
  .row3 .middle {
    clear: both;
  }
  .row3 .middle .top-half h3,
  .row3 .middle .top-half img {
    display: none;
  }
  .row3 .middle .bottom-half {
    padding: 10px;
    font-size: 40px;
    text-align: center;
    color: #4f151b;
  }
  .row4 {
    display: none;
  }
  .row5 ul {
    display: none;
  }
  .row5 .small-screen {
    background-color: #ffffff;
  }
  .row5 .small-screen h3,
  .row5 .small-screen p {
    padding: 10px;
    margin-bottom: 5px;
  }
  .row5 .small-screen img.port-icons {
    max-width: 650px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }
  .row5 .small-screen .intro {
    padding: 10px;
    background-color: #eee;
    margin: 10px;
  }
  .row5 .small-screen .intro h3 {
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: 700;
  }
  .row5 .small-screen .intro p {
    margin-left: 10px;
  }
  main {
    display: none;
  }
  .row7 #contact {
    border-top: 2px solid #e6e6e6;
    text-align: center;
    padding: 20px;
    background-color: white;
    color: #4f151b;
    margin-top: 70px;
  }
  .row7 #contact h4 {
    margin: 5px;
  }
  .row7 #contact a:hover {
    color: #00a99d !important;
  }
  .row7 #contact a:focus {
    color: #00a99d;
  }
  footer {
    font-size: 10px;
    text-align: center;
  }
  footer .social {
    padding: 10px;
  }
  footer .social a:hover {
    color: #00a99d !important;
  }
  footer .social a:focus {
    color: #00a99d;
  }
  footer .social a:active {
    color: #00a99d;
  }
  footer .icon {
    display: inline;
    margin: 10px;
  }
  footer .signature {
    padding: 15px;
    background-color: #4f151b;
    color: #a38d7a;
    font-size: 16px;
  }
}
