.clearfix {
  clear: both;
}
.hack1,
.hack2,
.hack3 {
  width: 100%;
  margin: 0;
  padding: 30px;
  float: left;
  overflow: hidden;
  width: 33.33333333%;
  text-align: center;
  background-color: rgba(242, 242, 242, 0.41);
  border-left: 1px solid #e2e2e2;
  height: 620px;
}
.hack1 h4,
.hack2 h4,
.hack3 h4 {
  font-weight: 700;
  color: #842128;
}
.hack1 img,
.hack2 img,
.hack3 img {
  width: 300px;
  height: 340px;
  border: 2px solid #DFDEDE;
}
.hack1 .tag,
.hack2 .tag,
.hack3 .tag {
  font-size: 16px;
  display: inline;
  margin: 5px;
  color: #A38D7A;
}
.hack1 .buttons,
.hack2 .buttons,
.hack3 .buttons {
  padding: 5px;
}
.hack1 .buttons a,
.hack2 .buttons a,
.hack3 .buttons a {
  margin: 10px;
  width: 50%;
  text-align: center;
}
.hack2 h5,
.hack2 p {
  text-align: left;
}
.hack2 .final {
  color: #007C72;
  font-size: 25px;
}
