.clearfix
.hack1
  h5 Desktop Administation App
  section
    a(href='http://nashvestn.herokuapp.com/', target="_blank"): img(src='public/assets/nashvestn-desk.png', alt='nashvestn')
    .clearfix
    p.tag MEAN Stack
    p.tag Mongoose
    .buttons
      a(href='https://github.com/kaylalynjones/nashvestn-server', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='http://nashvestn.herokuapp.com/', target="_blank"): i.fa.fa-external-link-square.fa-2x
.hack2
  h4 NashvesTN
  h5.final HackNashville6 Finalist  
  h5 Connect with others and invest in their future.
  p NashvesTN helps non-profit organizations increase their community impact by engaging the Millennial Generation. 
  
.hack3
  h5 Mobile Companion App
  section
    a(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpnashvestn202992', target="_blank"): img(src='public/assets/nashvestn-mobile.png', alt='nashvestn')
    .clearfix
    p.tag Cordova
    p.tag Ionic
    
    .buttons
      a(href='https://github.com/kaylalynjones/nashvesTN-mobile', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpnashvestn202992', target="_blank"): i.fa.fa-android.fa-2x
.clearfix
