.clearfix {
  clear: both;
}
.hack1, .hack2, .hack3 {
  width: 100%;
  margin: 0;
  padding: 30px;
  float: left;
  overflow: hidden;
  width: 100%/3;
  text-align: center;
  background-color: rgba(242, 242, 242, 0.41);
  border-left: 1px solid #e2e2e2;
  height: 620px;

  h6 {
    font-weight: lighter;
    color: #000;
    font-size: 22px;
  }
  .tag {
    font-size: 16px;
    display: inline;
    margin: 5px;
    color: #A38D7A;
  }
  .buttons {
   padding: 5px;

   a {
     margin: 10px;
     width: 100%/2;
     text-align: center;
   }
  }
}
.hack2 {
  h6, p {
    text-align: left;
  }
  h5, h6 {
    margin: 5px;
  }
  p.final {
    color: #f2f2f2;
    padding: 10px;
    border-bottom: 2px solid #007C72;
    border-top: 2px solid #007C72;
    background-color: #007C72;
    font-size: 25px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
