.clearfix
.game1
  h4 Equalizer
  section
    a(href='http://www.kaylalynjones.ninja/equalizer/'): img(src='public/assets/equalizer.png', alt='equalizer')
    p Demolish inequalities and collect your reward!
    p.tag Phaser
    p.tag Javascript
    .buttons
      a(href='https://github.com/kaylalynjones/equalizer'): i.fa.fa-github-alt.fa-2x
      a(href='http://www.kaylalynjones.ninja/equalizer/'): i.fa.fa-gamepad.fa-2x
.game2
  h4 Journey of Oscar Diggs
  section
    a(href='http://www.kaylalynjones.ninja/oz/'): img(src='public/assets/oz.png', alt='oz')
    p Help Oscar Diggs find his ballon ride to Oz!
    p.tag Phaser
    p.tag Javascript
    .buttons
      a(href='https://github.com/kaylalynjones/oz'): i.fa.fa-github-alt.fa-2x
      a(href='http://www.kaylalynjones.ninja/oz/'): i.fa.fa-gamepad.fa-2x
.game3
  h4 Title
  section
    a(href='#'): img(src='', alt='')
    p description
    p.tag tech
    p.tag tech
    .buttons
      a(href='#'): i.fa.fa-github-alt.fa-2x
      a(href='#'): i.fa.fa-external-link-square.fa-2x
.clearfix
