.clearfix
.game1.games
  h4 Equalizer
  section
    a(href='http://portfolio.kaylalynjones.ninja/equalizer/', target="_blank"): img(src='public/assets/equalizer.png', alt='equalizer')
    p Demolish inequalities and collect your reward!
    p.tag Phaser
    p.tag Javascript
    .buttons
      a(href='https://github.com/kaylalynjones/equalizer', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='http://portfolio.kaylalynjones.ninja/equalizer/', target="_blank"): i.fa.fa-gamepad.fa-2x
.game2.games
  h4 Journey of Oscar Diggs
  section
    a(href='http://portfolio.kaylalynjones.ninja/oz/', target="_blank"): img(src='public/assets/oz.png', alt='oz')
    p Help Oscar Diggs find his ballon ride to Oz!
    p.tag Phaser
    p.tag Javascript
    .buttons
      a(href='https://github.com/kaylalynjones/oz', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='http://portfolio.kaylalynjones.ninja/oz/', target="_blank"): i.fa.fa-gamepad.fa-2x
.game3.games
  h4 Mr. Whaleface
  section
    a(href='http://portfolio.kaylalynjones.ninja/mr-whaleface/', target="_blank"): img(src='public/assets/mr-whaleface.png', alt='mr-whaleface')
    p Help Mr. Whaleface navigate the dangerous sea!
    p.tag Phaser
    p.tag Javascript
    .buttons
      a(href='https://github.com/kaylalynjones/mr-whaleface', target="_blank"): i.fa.fa-github-alt.fa-2x
      a(href='http://portfolio.kaylalynjones.ninja/mr-whaleface/', target="_blank"): i.fa.fa-gamepad.fa-2x
.clearfix
